<!DOCTYPE html>
<html>
<head>
  <title>AuctionPlatform</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% stylesheet_link_tag 'bootstrap-social', media: 'all' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <style type="text/css">
    body {
      background-color: #dddddd;
    }

    .center-block {
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff;
      border-radius: 5px;
      border: none;
      -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    }

    #sign_in_block {
      margin-top: 10%;
      width: 400px;
      height: 400px;
    }

    .signInText {
      display: block;
      padding-top: 15%;
      width: 100%;
      text-align: center;
    }

    .withText {
      display: block;
      width: 100%;
      text-align: center;
    }

    .btn {
      width: 60%;
      margin-left: 20%;
      margin-top: 15px;
    }

    .btn:hover {
      color: white;
    }
  </style>
</head>
<body>
<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '974052585963373',
      xfbml: true,
      version: 'v2.5'
    });
  };


  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<div class="center-block" id="sign_in_block">
  <h1 class="signInText">Sign in</h1>
  <h4 class="withText">with</h4>
  <% if current_user %>
      <li>Signed in as: <%= current_user.name %> -

      </li>
      <li><%= link_to "Sign out", 'sign_out', method: :delete %></li>

  <% else %>
      <%= link_to "auth/facebook" do %>
          <li class="btn btn-social btn-facebook">
            <span class="fa fa-facebook"></span>Facebook
          </li>
      <% end %>

      <%= link_to "auth/google_oauth2" do %>
          <li class="btn btn-social btn-google">
            <span class="fa fa-google"></span>Google
          </li>
      <% end %>
      <%= link_to "auth/twitter" do %>
          <li class="btn btn-social btn-twitter">
            <span class="fa fa-twitter"></span>Twitter
          </li>
      <% end %>
      <%= link_to "auth/vkontakte" do %>
          <li class="btn btn-social btn-vk">
            <span class="fa fa-vk"></span>VK
          </li>
      <% end %>
  <% end %>

</div>


<%= yield %>

</body>
</html>