<%= stylesheet_link_tag 'jumbotron-narrow', media: 'all' %>
<style type="text/css">
  body {
    background-color: #dddddd;
  }  
  .about_text {
    color: #3a8bc5;
    margin: 5%;
  }

  .input-group {
    width: 70%;
    margin-left: 15%;
    top: 30px;
    margin-top: 25px;
  }

  .input-group-btn > .glyphicon {
    top: 0px;
  }
  .text-center{
    margin-top: 50px;
  }
  .alert{
    margin-top: 15px;
    padding-right: 35px;
    padding-left: 35px;
    margin-left: 70px;
    margin-right: 70px;
  }
  .jumbotron{
    background: rgba(255,255,255,0.8);
  }
</style>
<% if current_user %>
    <!-- <div class="container center-block"> -->
    <div class="container">
      <div class="jumbotron">
        <div class="text-center">
          <%= image_tag(@auth['info']['image'], width: '100', height: '100', class: 'img-circle') %>
          <div class="alert alert-info">
              <h5><strong>Hey, <%= current_user.name %>!</strong> Here is the message specially for you.</h5>

             <h5><strong>We just need a little but more information about you.</strong></h5>
              <h5>Please, write down your true name and phone number.</h5>
          </div>
            <form action="info/update" method="post">
              <div class="input-group input-group-lg">
                <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1" style="top: 0px;"></span>
                  <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1" value="<%= current_user.name %>" name="name">
              </div>
              <div class="input-group input-group-lg">
                <span class="input-group-addon glyphicon glyphicon-earphone" id="basic-addon1" style="top: 0px;"></span>
                 <input type="text" class="form-control" placeholder="Phone" aria-describedby="basic-addon1" name="phone">
              </div>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            </form>
            <div class="text-center">
                <input type="submit" class="btn btn-success btn-lg" id="done_button" value="Done">
            </div>
          </div>
        </div>
      </div>

      <!--<div id="alert alert-info">
        <h5 class="about_text"><strong>Hey, <%= current_user.name %>!</strong> Here is the message specially for you.
        </h5>
        <h5 class="about_text"><strong>We just need a little but more information about you.</strong></h5>
        <h5 class="about_text">Please, write down your true name and phone number.</h5>
      </div>
      <form action="info/update" method="post">
        <div class="input-group input-group-lg">
          <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1" style="top: 0px;"></span>
          <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1" value="<%= current_user.name %>" name="name">
        </div>
        <div class="input-group input-group-lg">
          <span class="input-group-addon glyphicon glyphicon-earphone" id="basic-addon1" style="top: 0px;"></span>
          <input type="text" class="form-control" placeholder="Phone" aria-describedby="basic-addon1" name="phone">
        </div>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div>
          <input type="submit" class="btn btn-success btn-lg" id="done_button" value="Done">
        </div>
      </form>
    </div>-->
<% end %>